@{
    ViewBag.Title = "All Garages";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (TempData["ExceptionMessage"] != null)
{
    <div id="alert" class="alert alert-danger" role="alert">@TempData["ExceptionMessage"]</div>
}

<div>
    <table class="table table-bordered table-striped"
           id="table"
           data-click-to-select="true"
           data-toggle="table"
           data-search="true"
           data-pagination="true"
           data-url="@Url.Action("GetAll", "Garage", new { area = "Administrator" })"
           data-page-size="5"
           data-page-list="[10, 25, 50, 100]">
        <thead>
            <tr>
                <th data-field="count" data-formatter="rowNumberFormatter">No.</th>
                <th data-field="country" data-sortable="true">Country</th>
                <th data-field="city" data-sortable="true">City</th>
                <th data-field="size" data-sortable="true">Size</th>
                <th data-field="buttons" class="table-hover" data-formatter="actionButtons">Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        function rowNumberFormatter(value, row, index) {
            return index + 1;
        }
    </script>

    <script>
        function actionButtons(row, value) {
            let editUrl = "@Url.Action("Edit", "Garage", new { area = "Administrator", id = '0' })";
            editUrl = editUrl.replace('0', value.id);

            let removeUrl = "@Url.Action("Remove", "Garage", new { area = "Administrator", id = '0' })";
            removeUrl = removeUrl.replace('0', value.id);

            let garageTrucksUrl = "@Url.Action("GarageTrucks", "Garage", new { area = "Administrator", id = '0' })";
            garageTrucksUrl = garageTrucksUrl.replace('0', value.id);

            let garageTrailersUrl = "@Url.Action("GarageTrailers", "Garage", new { area = "Administrator", id = '0' })";
            garageTrailersUrl = garageTrailersUrl.replace('0', value.id);

            let garageTrucksTrailersUrl = "@Url.Action("GarageTrucksTrailers", "Garage", new { area = "Administrator", id = '0' })";
            garageTrucksTrailersUrl = garageTrucksTrailersUrl.replace('0', value.id);

            return `<a href="${editUrl}" style="background-color: #8DC0EB; border-color: #8DC0EB; color: #2a2e72;" class='btn btn-primary edit-button'>Edit</a>
                    <a href="${removeUrl}" style="background-color: #fa8072; border-color: #8DC0EB; color: #2a2e72;" class='btn btn-primary edit-button'>Delete</a>
                    <a href="${garageTrucksUrl}" style="background-color: #00ff7f; border-color: #8DC0EB; color: #2a2e72;" class='btn btn-primary edit-button'>Trucks</a>
                    <a href="${garageTrailersUrl}" style="background-color: #00ff7f; border-color: #8DC0EB; color: #2a2e72;" class='btn btn-primary edit-button'>Trailers</a>
                    <a href="${garageTrucksTrailersUrl}" style="background-color: #00ff7f; border-color: #8DC0EB; color: #2a2e72;" class='btn btn-primary edit-button'>Trucks + Trailers</a>`;
        }
    </script>

    <script>
        window.setTimeout(function () {
            $("#alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 5000);
    </script>
}