@model GarageInfoViewModel

@{
    ViewBag.Title = "Garage Trucks Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-body">
            <div>
                <span class="fw-bold">Country: </span> @Model.Country
            </div>

            <div>
                <span class="fw-bold">City: </span> @Model.City
            </div>

            <div>
                <span class="fw-bold">Size: </span> @Model.Size
            </div>

            <div>
                <span class="fw-bold">Trucks Max Capacity: </span> @Model.TrucksCapacity
            </div>

            <div class="fw-bold">Trailers Max Capacity: </div> @Model.TrailersCapacity
        </div>
    </div>
</div>

<div>
    <table class="table table-bordered table-striped"
           id="table"
           data-click-to-select="true"
           data-toggle="table"
           data-search="true"
           data-pagination="true"
           data-url="@Url.Action("GetGarageTrucks", "Garage", new { area = "Administrator", id = Model.Id })"
           data-page-size="5"
           data-page-list="[10, 25, 50, 100]">
        <thead>
            <tr>
                <th data-field="count" data-formatter="rowNumberFormatter">No.</th>
                <th data-field="brand" data-sortable="true">Brand</th>
                <th data-field="series" data-sortable="true">Series</th>
                <th data-field="engineTitle" data-sortable="true">Engine</th>
                <th data-field="transmissionTitle" data-sortable="true">Transmission</th>
                <th data-field="buttons" class="table-hover" data-formatter="actionButtons">Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script>
        function actionButtons(row, value) {
            let garageTruckUrl = "@Url.Action("GetAdditionalInfoById", "Truck", new { area = "Administrator", id = '0' })";
            garageTruckUrl = garageTruckUrl.replace('0', value.id);

            let garageTrailerUrl = "@Url.Action("GetAdditionalInfoById", "Trailer", new { area = "Administrator", id = '0' })";
            garageTrailerUrl = garageTrailerUrl.replace('0', value.trailerId);

            let chooseTrailerForGarageTruckUrl = "@Url.Action("ChooseTruckTrailer", "Garage", new { area = "Administrator", id = '0' })";
            chooseTrailerForGarageTruckUrl = chooseTrailerForGarageTruckUrl.replace('0', value.id);

            let removeTrailerFromGarageTruckUrl = `/Administrator/Garage/RemoveGarageTruckFromGarageTrailer/${value.id}?trailerId=${value.trailerId}`;

            if (value.trailerId !== null && value.truckUserId !== null) {
                return `<a href="${garageTruckUrl}" style="background-color: #00ff7f; border-color: #8DC0EB; color: #2a2e72;" class="btn btn - primary edit - button">Details</a><a href="${garageTrailerUrl}" style="background-color: #00ff7f; border-color: #8DC0EB; color: #2a2e72;" class="btn btn - primary edit - button">Trailer</a>`;
            }
            else if (value.trailerId !== null && value.truckUserId == null) {
                return `<a href="${garageTruckUrl}" style="background-color: #00ff7f; border-color: #8DC0EB; color: #2a2e72;" class="btn btn - primary edit - button">Details</a><a href="${garageTrailerUrl}" style="background-color: #00ff7f; border-color: #8DC0EB; color: #2a2e72;" class="btn btn - primary edit - button">Trailer</a><a href="${removeTrailerFromGarageTruckUrl}" style="background-color: #00ff7f; border-color: #8DC0EB; color: #2a2e72;" class="btn btn - primary edit - button">Remove Trailer</a>`;
            }
            else {
                return `<a href="${garageTruckUrl}" style="background-color: #00ff7f; border-color: #8DC0EB; color: #2a2e72;" class="btn btn - primary edit - button">Details</a><a href="${chooseTrailerForGarageTruckUrl}" style="background-color: #00ff7f; border-color: #8DC0EB; color: #2a2e72;" class="btn btn - primary edit - button">Add Trailer</a>`;
            }
        }
    </script>

    <script>
        function rowNumberFormatter(value, row, index) {
            return index + 1;
        }
    </script>
}