@model GarageInfoViewModel

@{
    ViewBag.Title = "Garage Trucks Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-body">
            <div>
                <span class="fw-bold">Country: </span> @Model.Country
            </div>

            <div>
                <span class="fw-bold">City: </span> @Model.City
            </div>

            <div>
                <span class="fw-bold">Size: </span> @Model.Size
            </div>

            <div>
                <span class="fw-bold">Trucks Max Capacity: </span> @Model.TrucksCapacity
            </div>

            <div>
                <span class="fw-bold">Trailers Max Capacity: </span> @Model.TrailersCapacity
            </div>
        </div>
    </div>
</div>