@model AddEngineViewModel

@{
    ViewBag.Title = "Create New Engine";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<p>@Html.ValidationSummary(false)</p>

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-area="Administrator" asp-controller="Engine" asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label-add-edit fw-bold">Title</label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.PowerHp" class="form-label-add-edit fw-bold">Power</label>
                <div class="input-group">
                    <input asp-for="@Model.PowerHp" class="form-control" aria-required="true" />
                    <div class="input-group-append">
                        <span class="input-group-text">Horse Power</span>
                    </div>
                </div>
                <span asp-validation-for="PowerHp" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.PowerKw" class="form-label-add-edit fw-bold">Power</label>
                <div class="input-group">
                    <input asp-for="@Model.PowerKw" class="form-control" aria-required="true" />
                    <span class="input-group-append">
                        <span class="input-group-text">Kilowatt</span>
                    </span>
                </div>
                <span asp-validation-for="@Model.PowerKw" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.TorqueNm" class="form-label-add-edit fw-bold">Torque</label>
                <div class="input-group">
                    <input asp-for="@Model.TorqueNm" class="form-control" aria-required="true" />
                    <div class="input-group-append">
                        <span class="input-group-text">Newton-meter</span>
                    </div>
                </div>
                <span asp-validation-for="@Model.TorqueNm" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}