@model EditTransmissionViewModel

@{
    ViewBag.Title = "Edit Transmission";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<p>@Html.ValidationSummary(false)</p>

@if (TempData["ExceptionMessage"] != null)
{
    <div id="alert" class="alert alert-danger" role="alert">@TempData["ExceptionMessage"]</div>
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-controller="Transmission" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label-add-edit fw-bold">Title</label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.GearsCount" class="form-label-add-edit fw-bold">Gears Count</label>
                <input asp-for="@Model.GearsCount" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.GearsCount" class="text-danger"></span>
            </div>

            <div class="form-check form-switch">
                @Html.CheckBoxFor(@Model => Model.Retarder, new { @class = "form-check-input", id = "retarderCheckbox" })
                <label class="form-check-label" for="retarderCheckbox">Retarder</label>
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Edit" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        window.setTimeout(function () {
            $("#alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 5000);
    </script>
}