@model EditTrailerViewModel

@{
    ViewBag.Title = "Edit Trailer";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<p>@Html.ValidationSummary(false)</p>

@if (TempData["ExceptionMessage"] != null)
{
    <div id="alert" class="alert alert-danger" role="alert">@TempData["ExceptionMessage"]</div>
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-area="Administrator" asp-controller="Trailer" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label-add-edit fw-bold">Title</label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.Series" class="form-label-add-edit fw-bold">Series</label>
                <input asp-for="@Model.Series" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.Series" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.TrailerType" class="form-label-add-edit fw-bold">Trailer Type</label>
                <input asp-for="@Model.TrailerType" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.TrailerType" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.BodyType" class="form-label-add-edit fw-bold">Body Type</label>
                <input asp-for="@Model.BodyType" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.BodyType" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.TareWeight" class="form-label-add-edit fw-bold">Tare Weight</label>
                <div class="input-group">
                    <input asp-for="@Model.TareWeight" class="form-control" aria-required="true" />
                    <div class="input-group-append">
                        <span class="input-group-text">Kilogram</span>
                    </div>
                </div>
                <span asp-validation-for="@Model.TareWeight" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.AxleCount" class="form-label-add-edit fw-bold">Axle Count</label>
                <input asp-for="@Model.AxleCount" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.AxleCount" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.TotalLength" class="form-label-add-edit fw-bold">Total Length</label>
                <div class="input-group">
                    <input asp-for="@Model.TotalLength" class="form-control" aria-required="true" placeholder="15.5" />
                    <div class="input-group-append">
                        <span class="input-group-text">Meter</span>
                    </div>
                </div>
                <span asp-validation-for="@Model.TotalLength" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.CargoTypes" class="form-label-add-edit fw-bold">Cargo Types</label>
                <input asp-for="@Model.CargoTypes" class="form-control" aria-required="true" />
                <span asp-validation-for="@Model.CargoTypes" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.Image" class="form-label-add-edit fw-bold">Upload Trailer Image</label>
                <input asp-for="@Model.Image" class="form-control" type="file" name="Image" />
            </div>

            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Edit" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        window.setTimeout(function () {
            $("#alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 5000);
    </script>
}