@model TruckAdditionalInfoViewModel

@{
    ViewBag.Title ="Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card-body">
                <div>
                    <span class="fw-bold">Brand: </span> @Model.Brand
                </div>

                <div>
                    <span class="fw-bold">Series: </span> @Model.Series
                </div>

                <div>
                    <span class="fw-bold">Driven Distance: </span> @Model.DrivenDistance
                </div>

                @{
                    ViewBag.Image = $"{Model.Image}.jpg";
                }

                <img src="~/Images/Trucks/@ViewBag.Image" class="card-img-top" alt="image">

                <div>
                    @{
                        if (Model.GarageInfo != null)
                        {
                            ViewBag.GarageInfo = $"{Model.GarageInfo.Country}/{Model.GarageInfo.City}/{Model.GarageInfo.Size}";
                        }
                        else
                        {
                            ViewBag.GarageInfo = "N/A";
                        }
                    }

                    <span class="fw-bold">Garage: </span> @ViewBag.GarageInfo
                </div>

                <div>
                    @{
                        if (Model.TrailerInfo != null)
                        {
                            ViewBag.TrailerInfo = $"{Model.TrailerInfo.Title} {Model.TrailerInfo.Series}";
                        }
                        else
                        {
                            ViewBag.TrailerInfo = "N/A";
                        }
                    }

                    <span class="fw-bold">Trailer: </span> @ViewBag.TrailerInfo
                </div>

                <div>
                    @{
                        if (Model.OrderInfo != null)
                        {
                            ViewBag.OrderInfo = Model.OrderInfo.Cargo;
                        }
                        else
                        {
                            ViewBag.OrderInfo = "N/A";
                        }

                        <span class="fw-bold">Order: </span> @ViewBag.OrderInfo
                    }
                </div>

                <div>
                    @{
                        if (Model.EngineInfo != null)
                        {
                            ViewBag.EngineInfo = Model.EngineInfo.Title;
                        }
                        else
                        {
                            ViewBag.EngineInfo = "N/A";
                        }

                        <span class="fw-bold">Engine </span> @ViewBag.EngineInfo
                    }
                </div>

                <div>
                    @{
                        if (Model.TransmissionInfo != null)
                        {
                            ViewBag.TransmissionInfo = Model.TransmissionInfo.Title;
                        }
                        else
                        {
                            ViewBag.TransmissionInfo = "N/A";
                        }

                        <span class="fw-bold">Transmission: </span> @ViewBag.TransmissionInfo
                    }
                </div>

                <div>
                    @{
                        if (Model.UserInfo != null)
                        {
                            ViewBag.UserInfo = Model.UserInfo.UserName;
                        }
                        else
                        {
                            ViewBag.UserInfo = "N/A";
                        }

                        <span class="fw-bold">User: </span> @ViewBag.UserInfo
                    }
                </div>
            </div>
        </div>
    </div>
</div>