@model ICollection<GarageInfoViewModel>

@{
    ViewBag.Title = "All Garages";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (TempData["Message"] != null)
{
    <div id="alert" class="alert alert-success" role="alert">@TempData["Message"]</div>
}

@if (TempData["ExceptionMessage"] != null)
{
    <div id="alert" class="alert alert-danger" role="alert">@TempData["ExceptionMessage"]</div>
}

<form asp-controller="Garage" asp-action="Add" method="get" enctype="multipart/form-data">
    <div class="form-group mb-3">
        <input class="btn btn-primary" type="submit" value="Add" />
    </div>
</form>

<div class="container">
    <div class="row">
        @foreach (var garage in Model)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <div>
                            <span class="fw-bold">Country: </span> @garage.Country
                        </div>

                        <div>
                            <span class="fw-bold">City: </span> @garage.City
                        </div>

                        <div>
                            <span class="fw-bold">Size: </span> @garage.Size
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <form asp-controller="Garage" asp-action="Edit" asp-route-id="@garage.Id" method="get" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input class="btn btn-warning" type="submit" value="Edit" />
                                    </div>
                                </form>
                            </div>

                            <div class="col">
                                <form asp-controller="Garage" asp-action="Remove" asp-route-id="@garage.Id" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input class="btn btn-danger" type="submit" value="Delete" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        window.setTimeout(function () {
            $("#alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 5000);
    </script>
}